{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu&amp;subset=cyrillic" rel="stylesheet"> 
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'build/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>
        {% block title %}
          Django Blog
        {% endblock %}
    </title>
</head>
<body>
  <div id="root">
      
  </div>
  <div class="main_wrap">
    <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
      {% block title-nav %}
        Django Blog
      {% endblock %}
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>

   </button>

   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'posts_list_url' %}">
            {% block post-nav %}
            Posts
            {% endblock %}
         </a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{% url 'tags_list_url' %}">Tags</a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="/about">
         {% block about-nav %}
         About us
         {% endblock %}
      </a>
   </li>
  
</ul>
<form class="form-inline my-2 my-lg-0 flex" action="{% url 'posts_list_url' %}">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" />
  <button class="btn my-2 my-sm-0 but" type="submit">Search</button>
</form>
</div>
</nav>
<div class="content">
    <div class="main">
        <div class="wrap">
{% block content %}
{{ content..... }}
{% endblock %}
</div>
{% block sidebar %}

<section class="sibar">
  <section class="login_section">
  <ul class="sidebar-ul">
    {% if not request.user.is_authenticated %}
      <a href="{% url 'reg' %}" class="sidebar-link sidebar-items btn ">{{ not_sidebar }}Signup</a>
    <a href="{% url 'login' %}" class="sidebar-link sidebar-items btn ">Login</a>
    {% endif %}


    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="sidebar-link sidebar-items btn btn-outline-success">Logout</a>
    {% endif %}
  </ul>
</section>
<section class="ads">

</section>
</section>
{% endblock sidebar %}
        
        
    </div>
</div>


{% block admin_panel %}{% endblock admin_panel %}

  </div>
	
<script src={% static 'build/js/main.js' %}></script>
</body>
</html>