*{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	text-decoration: none;
}
a{
	color: #000;
}
a:hover{
    color: #000;
}
.content{
	padding-top: 3rem;
}

.main{
	opacity: 0.9;
	background-color: rgba(16, 146, 33, 0.42);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	border:2px solid #0e293c;
	border-color: #aeff9b;
}
.wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 1rem;
	flex-grow: 1;
}
.row{
	height: 100%;
	width: 100%;
}
.card{
	background: #fff;
	min-height: 300px;
	margin-bottom: 1rem;
}

body{
	background-image: url(https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    padding: 5rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}
.dropdown{
	margin: auto;
}
.admin-panel{
	border: 1px solid #000;
	border-radius: 6px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	opacity: .3;
	transition: opacity .3s ease;
}
.admin-panel:hover{
	opacity: 1;
}

.admin-panel a{
	display: block;
	padding: 10px;
	margin: 10px;
}
.dropdown-menu{
	border: 1px solid #000;
	border-radius: 6px;
	min-width: 0;
	width: 93px;
}
.dropdown-menu a{
	width: 50px;
}
.pagination{
	max-height: 30px;
}
.page-link{
	max-height: 200%;
}
.page-item.active .page-link{
	background: #4ba72b;
	border-color: #fff;
} 
footer{
	height: 200px;
}

.main_wrap{
	position: relative;
}
.navbar-expand-lg {
	position: relative;
	width: 100%;
	border:2px solid #798300;
	z-index: 999;
	background:#ffec00;
	opacity: 0.9;
}
.navbar-brand{
    color: #000;
    font-family: 'Anton', sans-serif;
    font-size: 26px;
    font-style: italic;
    transition: color cubic-bezier(0,1,1,1) .2s;
}
.navbar-brand:hover{
    color: #333;
}
.navbar-expand-lg .navbar-collapse ul li{
	border-right: 1px solid #000;
}

.navbar-expand-lg .navbar-collapse ul li a{
	color: #222;
	transition: color .1s ease;
}
.navbar-expand-lg .navbar-collapse ul li a:hover{
	color:#000;

}
.sibar{
    justify-content: flex-end;
    flex-basis: 300px;
	flex-grow: 0;
}
.login_section{
    height: auto;
	position: relative;
	background-color: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	border-radius: 5px;
	
}
.main_button{
	color: #4ba72b;
	background: #fff;
}
.main_button:hover{
	background: #4ba72b;
	color: #fff;
}
.login_section ul{
	height: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	padding: 0;
}
.login_section ul {
	margin:0.5rem 0;
	list-style: none;
}
.login_section ul a{
	color: #4ba72b;
	margin: 1rem;
}
.login_section ul a:hover{
	background: #4ba72b;
	color: #fff;
}
.form_wrap{
	width: 100%;
	margin: auto;
}
.row{
	margin-top: 1rem;
}
@media screen and (min-width: 1200px){

	}
@media screen and (max-width: 1200px){
    body{
        padding: 0;
    }
}
@media screen and (max-width: 890px){
    .main{
        flex-direction: column-reverse;
    }
    .sibar{
        flex-basis: auto;
        flex-grow:1;
    }
    .login_section{
        margin: 1rem;
    }
}